.img-perfil {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.botao{
    width: 150px !important;
    margin: 0 auto !important;
    margin-top: 20px !important;

}
.escrita {
    font-family: Verdana;
}
.justificado {
    text-align: justify !important;
}

.a-right{
    float: right;
}
.a-left{
    float: left;
}

.body{
    background-color: #666666;
}

.w-5{
    width: 5% !important;
}
.w-10{
    width: 10% !important;
}
.w-15{
    width: 15% !important;
}
.w-25{
    width: 25% !important;
}

.w-50{
    width: 50% !important;
}
.w-75{
    width: 75% !important;
}
.w-80{
    width: 80% !important;
}
.center{
    margin: 0 auto !important;

}

.mt-2{
    margin-top: 20px !important;
}
.ml-2{
    margin-left: 20px !important;
}
.mr-2{
    margin-right: 20px !important;
}
.mt-5{
    margin-top: 50px !important;
}

.w-full{
    width: 100% !important;
}
.t-right{
    text-align: right !important;
}
.t-center{
    text-align: center !important;
}
.bold300 {
    font-weight: bold !important;
    font-size: 300% !important;
}
.bold125 {
    font-weight: bold !important;
    font-size: 125% !important;
}
.bold {
    font-weight: bold !important;

}

.cor-vm{
    color: #ff0033 !important;
}
.h-15{
    height: 15vh !important;
}
.h-20{
    height: 20vh !important;
}
.h-25{
    height: 25vh !important;
}
.h-550{
    height: 550px !important;
}
.icon-button {
    background: none;
    border: none;
    box-shadow: none;
    padding: 0.5rem;
    cursor: pointer;
}
.cabeca{
    background-color: #0D2A4C;
    display: flex;
    align-items: center;
}
.borda{
    border-width: 2px !important;
    border-color: #ADB5BD !important;
}

.product-item .product-item-content {
    border: 1px solid var(--surface-d);
    border-radius: 3px;
    margin: .3rem;
    text-align: center;
    padding: 2rem 0;
}

.product-item .product-image {
    width: 98%;
        height: 250px;
     object-fit: cover;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}